body {
   
    background-color: #000000;
    
}

.nav-color{
    background-color: #20262E;
}

.navbar-brand{
    color: white;
}

.spotify{
    font-size: 25px;
}

h3{
    color: white;
    font-family: 'Merriweather', sans-serif;
    margin-top: 15px;
    margin-left: 140px;
}

.img1{
    height: 150px;
    width: 140px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 150px;
    
}

.img2{
    height: 150px;
    width: 140px;
    border-radius: 50%;
    margin-left: 150px;
    
}

.img3{
    height: 150px;
    width: 140px;
    border-radius: 50%;
    margin-left: 150px;
    
}

.img4{
    height: 150px;
    width: 140px;
    border-radius: 50%;
    margin-left: 150px;
    
}

.anshul{
    color: white;
    margin-top: 10px;
    margin-left: 165px;
}
.shruti{
    color: white;
    margin-top: 10px;
    margin-left: 140px;
}
.shahil{
    color: white;
    margin-top: 10px;
    margin-left: 140px;
}
.satyajeet{
    color: white;
    margin-top: 10px;
    margin-left: 162px;
}
h2{
    padding: 10px 0 0 20px;
    color: white;
    font-family: 'Carlito', serif;
}
.project-details{
    padding: 10px 0 0 20px;
    color: white;
    text-align: justify;
    
}

.features{
    color: white;
    font-family: 'Carlito', serif;
}

.sec1{
    color: white;
    padding: 5rem 0 0 7rem;
}

.main-title{
    font-family: 'Merriweather', sans-serif;
}

h1{
    color: white;
    font-family: 'Merriweather', serif;
}
.names{
    color: white;
    font-family: 'Carlito', sans-serif;
}
.img_reg{
    height: 70%;
}
.btn_style{
    font-family: 'Carlito', sans-serif;
}
.git_btn{
    padding-bottom: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.cam_sec{
    color: white;
    font-family: 'Merriweather', serif;
    text-align: left;
}
.btn_predict{
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.container1{
    min-height: 70vh;
}


#myProgressBar{
        width: 80vw;
    border-radius: 20px;
    height: 5px;
    
}
.icons{
    margin: 10px;
}
.fav-icons{
    margin: 25px 0 0 0;
}
.fav-icons i{
    cursor: pointer
}
.bottom{
    position: sticky;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 50%;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #1CCC5B; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #1CCC5B; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.album-img{
    height: 20%;
    width: 20%;
    position: relative;
    top: 170px;
    left: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
}

.dropdown{
    padding-top: 10px;
}

.hidden{
    opacity: 0;
    transition: all 2s;
}
.show{
    opacity: 1;
}