<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/error.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Leelawadee UI:wght@700&display=swap"
    />
  </head>
  <body bgcolor="#0B0B0B">
    <div>
      <div class="error-1-parent">
        <img class="error-1-icon" alt="" src="{{url_for('static', filename='Images/error.png')}}" />
        <center>
          <h1><span class="oops" style="color: red;"> OOPs </span></h1>
        </center>
        <b class="we-apologise-for-container">
          <p class="we-apologise-for">We apologise for the error occurred.</p>
          <p class="we-apologise-for">&nbsp;</p>
          <p class="we-apologise-for">You’ll be redirected in <span style="color: red;" id="countdown">3</span> seconds.</p>
        </b>
      </div>
    </div>
    <script src="{{url_for('static', filename='Js/index.js')}}"></script>
  </body>
</html>
