<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GMINOR</title>
    <link rel="icon" href="{{url_for('static', filename='Images/icon.png')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Carlito&family=Lora&family=Merriweather&family=Ubuntu:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <!-- navbar -->

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('index')}}">
                MUSIC RECOMENDATION SYSTEM
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link
                    href="https://fonts.googleapis.com/css2?family=Carlito&family=Lora&family=Merriweather&family=Ubuntu:wght@500&display=swap"
                    rel="stylesheet">
            </a>
            <button class="navbar-toggler button-color" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link style=" color: black;" href="{{url_for('index')}}">Camera</a>
                        </li>
                </div>
            </div>
    </nav>

    <!-- navbar end -->



    <div class="row hidden">
        <div class="col-8">
            <h2 class="main-title">G-Minor: A music recommendation system</h2>
            <hr style="color: white;">
            <p class="project-details">Music has always been an integral part of human lives, and
                the current generation
                is no exception.
                Whether it's listening to upbeat tracks during a workout, romantic melodies during a date, or soothing
                instrumentals
                to unwind after
                a long day, music plays an essential role in our daily lives. <br><br>

                However, with countless songs and genres available on various music streaming platforms, it can be
                overwhelming to find
                the right track for a specific mood or situation. This is where G-Minor comes in. <br><br>

                G-Minor is an innovative project that utilizes the latest advancements in image processing and computer
                vision to help
                users find the perfect song based on their current emotional state. By analyzing facial expressions
                through video input,
                G-Minor suggests songs from Spotify's top playlists that match the user's mood, allowing for a more
                personalized and
                effective music experience. <br><br>

                Moreover, G-Minor is not just a technical marvel, but also a well-documented end-to-end project that
                covers every aspect
                from creation to deployment. This includes a user-friendly website that is designed to be easy to use
                and intuitive,
                ensuring a seamless and enjoyable experience for all users. <br><br>

                In conclusion, G-Minor is a game-changing project that aims to revolutionize the way we interact with
                music. By
                leveraging cutting-edge technology and an intuitive user interface, G-Minor offers a more personalized
                and effective
                music experience, making it the go-to solution for all your music needs.</p>
            <br>
            <h2>FEATURES: </h2>
            <hr style="color: white;">
            <p>
            <ul class="features hidden">
                <li>Data Processing: The project preprocesses data from the Million Song Dataset, which is a large,
                    freely-available dataset of audio
                    features and metadata for a million songs.</li>
                <li>
                    Feature engineering : The project extracts audio features from the dataset such as tempo, key, and
                    mode, and creates a
                    feature vector for each song.
                </li>
                <li>Content-based filtering: The project also uses content-based filtering techniques to recommend songs
                    based on audio
                    features.</li>
                <li>User interface: The project has a web-based user interface that allows users to input their
                    preferences and receive
                    music recommendations.</li>
                <li>Technology stack: The project is written in Python and uses various libraries such as NumPy, Pandas,
                    Flask, and
                    Scikit-learn.</li>

            </ul>
            </p>
        </div>
        <div class=" col-4 hidden">
            <h3>OUR TEAM</h3>
            <hr style="color: white; width: 50%; margin-left: 120px;">
            <div>
                <a href="https://www.linkedin.com/in/anshuldubey14/" target="_blank" style="text-decoration: none;">
                    <img class="img1" src="{{url_for('static', filename='Images/Anshul.jpg')}}" alt="Anshul">
                    <p class="anshul">ANSHUL DUBEY</p>
                </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/shruti-bhattacharya-1242ba24b/" target="_blank"
                    style="text-decoration: none;">
                    <img class="img2" src="{{url_for('static', filename='Images/Shruti.jpg')}}" alt="Shruti">
                    <p class="shruti">SHRUTI BHATTACHARYA</p>
                </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/shahilssy/" target="_blank" style="text-decoration: none;">
                    <img class="img3" src="{{url_for('static', filename='Images/Shahil.jpg')}}" alt="Shahil">
                    <p class="shahil">SHAHIL SINGH YADAV</p>
                </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/satyajeet-das-170606203/" target="_blank"
                    style="text-decoration: none;">
                    <img class="img4" src="{{url_for('static', filename='Images/Satyajeet.jpg')}}" alt="Satyajeet">
                    <p class="satyajeet">SATYAJEET DAS</p>
                </a>
            </div>

        </div>
    </div>
    </div>


    <script src="{{ url_for('static', filename='Js/home.js') }}"></script>
</body>

</html>